body {
    height: 100%;
    color: #323232;
}

h2 {
    margin: 0;
    margin-bottom: var(--spacing-2);
  }

nav {
   display: flex;
   align-items: center;
   padding: 16px; 
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: 8px;
}